footer  
  .icon-logo2
    img(src='/img/logo.png' alt='logo-footer')
  .link
    ul.link-footer
      li
        a(href='/about-me') About me
      li
        a(href='') Contact
      li
        a(href='') Link
      li
        a(href='') Link
    span.author © by TranCongHoa