ul.login-sigup {
    display: flex;
    align-items: center;
  }
  ul.login-sigup li {
    float: right;
    list-style: none;
    padding: 10px;
  }
  ul.login-sigup li a {
    color: white !important;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto;
    text-decoration: none;
  }
  ul.login-sigup li:hover {
    box-shadow: 2px 2px 2px 2px black;
  }
